body {
    font-family: 'Lato', sans-serif;
    color: $black;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    // 1140px
    width: 71.25%;
    margin: auto;

    @include tablet {
        // 735px
        width: 95.5%;
    }

    @include mobile {
        // 343px
        width: 91.5%;
    }
}

.flex {
    display: flex;
    justify-content: space-between;

    @include tablet-mid {
        flex-direction: column;
    }
}

.link:hover,
.link:focus {
    color: $red;
    cursor: pointer;
}

.link:active {
    color: $gray;
}

.button:hover,
.button:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.button:active {
    opacity: 0.7;
}

.input:hover,
.input:focus {
    outline: 0 solid $dark-pink;
    background: $light-pink;
    cursor: pointer;
}