$black: #222222;
$shadow: #00000066;
$light-pink: #F1E4E6;
$dark-pink: #F26376;
$black-pink: #a54653;
$sale-bkg-color: #211616b3;
$white: #FFFFFF;
$products-bkg-color: #F8F8F8;
$light-gray: #E1E1E1;
$gray: #9F9F9F;
$dark-gray: #5D5D5D;
$red: #ff0000;
$overlay: #3a3838db;

$desktop-width: 1599px;
$tablet-mid-width: 1350px;
$tablet-width: 767px;
$mobile-tablet-mid-width: 573px;
$mobile-mid-width: 450px;
$mobile-width: 375px;