$black: #222222;
$shadow: rgba(0, 0, 0, 0.4);
$light-pink: #F1E4E6;
$dark-pink: #F26376;
$black-pink: #a54653;
$sale-bkg-color: rgba(33, 22, 22, 0.7);
$white: #FFFFFF;
$products-bkg-color: #F8F8F8;
$light-gray: #E1E1E1;
$gray: #9F9F9F;
$dark-gray: #5D5D5D;
$red: #ff0000;
$overlay: rgba(58, 56, 56, 0.86);