.advantages {
    background-color: $black;
    padding: 103px 0;

    @include tablet {
        padding: 48px 0 64px;
    }

    @include mobile {
        padding: 48px 0 81px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        max-width: 360px;
        text-align: center;

        @include tablet {
            margin: 24px 0;
        }
    }

    &__img {
        height: 35px;
    }

    &__title {
        color: $white;
        @include font(20px, 24px, 400);
        margin: 28px 0 16px;
    }

    &__text {
        color: $gray;
        @include font($font-weight: 300);
    }
}