.header {
    background-color: $black;

    &__wrp {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
    }

    &__flex {
        display: flex;
    }

    &__logo {
        margin: 0 41px 0 0;

        @include mobile {
            margin: 0 24px 0 0;
        }

        &:focus {
            opacity: 0.5;
            cursor: pointer;
            outline: none;
        }
    }

    &__form {
        display: flex;
        width: 28px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            top: 50%;
            transform: translate(0, -50%);
            background-image: url(../img/ic/loupe-ic.svg);
            background-size: 28px 28px;
        }

        &:hover .header__search,
        &:focus .header__search {
            display: block;
        }
    }

    &__search {
        display: flex;
        border: none;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: 30px;
        border-radius: 17px;
        padding: 15px 35px;

        @include mobile {
            padding: 15px 0px 15px 31px;
        }
    }

    &__button {
        border: none;
        background-color: transparent;

        &:hover+.header__nav,
        &:focus+.header__nav {
            display: block;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__link {
        margin: 0 0 0 34px;

        @include mobile {
            display: none;
        }
    }

    &__nav {
        z-index: 3;
        display: none;
        position: absolute;
        top: 75px;
        left: 970px;
        height: 765px;
        width: 230px;
        padding: 35px;
        box-sizing: border-box;
        background-color: $white;
        box-shadow: 0 0 21px $shadow;

        @include tablet {
            left: 512px;
            height: 632px;
        }

        @include mobile {
            left: 120px;
        }
    }

    &__title {
        @include font($font-weight: 700);
        text-transform: uppercase;
        margin: 0 0 24px;
    }
}