.header {
    background-color: $black;

    &__wrp {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
    }

    &__flex {
        display: flex;
        position: relative;
    }

    &__logo {
        margin: 0 41px 0 0;

        @include mobile {
            margin: 0 24px 0 0;
        }

        &:focus {
            opacity: 0.5;
            cursor: pointer;
            outline: none;
        }
    }

    &__form {
        display: flex;
        width: 28px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            top: 50%;
            transform: translate(0, -50%);
            background-image: url(../img/ic/loupe-ic.svg);
            background-size: 28px 28px;
        }

        &:hover .header__search,
        &:focus .header__search {
            display: block;
        }
    }

    &__search {
        display: flex;
        border: none;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: 30px;
        border-radius: 17px;
        width: 239px;
        padding: 0 35px;

        @include mobile-tablet-mid {
            width: 150px;
        }

        @include mobile {
            width: 144px;
            padding: 0 0 0 27px;
        }
    }

    &__button {
        border: none;
        background-color: transparent;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 18px;
        height: 18px;
        border: none;
        background-color: transparent;
        background-image: url(../img/ic/close-ic.svg);
        background-size: 100%;
        padding: 0;
    }

    &__link {
        margin: 0 0 0 34px;

        @include mobile-mid {
            display: none;
        }
    }

    &__basket {
        display: none;
        width: 19px;
        height: 19px;
        color: $white;
        background: $dark-pink;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: -12%;
        top: -25%;
        @include font(12px, 19px);

        &:hover+.header__basket-info {
            display: block;
        }
    }

    &__basket-info {
        display: none;
        z-index: 4;
        border-radius: 17px;
        box-shadow: 5px 5px 10px 2px $shadow;
        width: 400px;
        background: $white;
        position: absolute;
        text-align: center;
        right: 0;
        top: 40px;
        padding: 10px 0;
        @include font(12px, 19px);
    }

    &__nav {
        z-index: 3;
        display: none;
        position: absolute;
        top: 53px;
        left: 0;
        height: 765px;
        width: 230px;
        padding: 35px;
        box-sizing: border-box;
        background-color: $white;
        box-shadow: 0 0 21px $shadow;

        @include tablet-mid {
            left: -46px;
            height: 632px;
        }

        @include mobile-mid {
            left: -178px;
        }
    }

    &__title {
        @include font($font-weight: 700);
        text-transform: uppercase;
        margin: 0 0 24px;
    }
}