.page-name {
    background-color: $light-pink;
    height: 148px;
    display: flex;

    &__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile-tablet-mid {
            flex-direction: column;
        }
    }

    &__title {
        color: $dark-pink;
        @include font(24px, 29px);
        text-transform: uppercase;
        box-sizing: border-box;
        animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

        @keyframes tracking-in-contract-bck {
            0% {
                letter-spacing: 1em;
                transform: translateZ(400px);
                opacity: 0;
            }

            40% {
                opacity: 0.6;
            }

            100% {
                transform: translateZ(0);
                opacity: 1;
            }
        }

        @include mobile-tablet-mid {
            margin: 0 0 32px;
        }

        @include mobile {
            text-align: center;
        }
    }

    &__list {
        text-transform: uppercase;
        color: $dark-pink;
    }

    &__link {
        text-decoration: none;
        color: $gray;
    }
}