.products-grid {
    text-align: center;

    &__list {
        margin: 65px 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;

        @include tablet {
            margin: 40px 0 0;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        background-color: $products-bkg-color;

        &--none {
            @include tablet {
                display: none;
            }
        }
    }

    &__overlay-wrp {
        position: relative;

        &:hover .products-grid__overlay,
        &:hover .products-grid__button {
            display: flex;
            align-items: center;
        }
    }

    &__overlay {
        display: none;
        background-color: $overlay;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    &__button {
        display: none;
        justify-content: center;
        height: 43px;
        padding: 0 16px;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include tablet-mid {
            width: 73%;
            max-width: 123px;
            padding: 0;
        }

        &:before {
            content: '';
            width: 25px;
            height: 25px;
            background-image: url(../img/ic/basket-ic.svg);
            background-size: 25px 25px;
            margin: 9px 11px 9px 0;
        }
    }

    &__wrp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    &__img {
        width: 100%;
        vertical-align: middle;
    }

    &__heading {
        @include font(13px, 16px);
        text-transform: uppercase;
    }

    &__text-item {
        text-align: left;
        @include font($font-weight: 300);
        color: $dark-gray;
        padding: 15px 0;
        box-sizing: border-box;
    }

    &__price {
        color: $dark-pink;
        @include font(16px, 19px);
    }
}